body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaecef;
  }
  
  header {
    background-color: #273b81;
    color: white;
    padding: 1rem;
  }
  
  header h1 {
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
  }
  
  
.flight-view {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 10px 0;
    margin-left: 3%;
  }
  
 
  .flight-container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 10px;
    margin: 17px;
    width: 100%; 
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    position: relative;
  }
  

  .flight-details {
    display: flex;
    width: 50%; 
    font-family: 'Montserrat', sans-serif; 
  }
  
  
  .flight-time{
    font-size: 24px;
    margin: 5px 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; 
  }
  .flight-dep {
    font-size: 15px;
    margin: 2px 5px; 
    font-family: 'Montserrat', sans-serif;
  }
  
  .flight-arr {
    font-size: 15px;
    margin: 2px 5px; 
  }

  .flight-info {
    margin: 0 10px; 
    display: flex;
    text-align: center;
    
  }
  
 
  .flight-price-container {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 60px;
  }
  
  
  .flight-price {
    font-weight: bold;
    font-size:30px;
    text-align: left;
    margin-right: 120px;
  }
  
  
  .flight-price-container:hover {
    background-color: #f2f2f2;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
  }
  .flight-separator {
    width:40%; 
    border: 0; 
    height: 1px; 
    background-color: #ddd; 
    margin: 10px 0;
    margin-top: 43px;
    position: relative;
    top: 50%; 
    left:10%;
    transform: translateY(-50%); 
    left: 0;
    text-align: center;
    
  }
  .eco-price {
    font-weight: bold; 
    text-align: left;
    font-size: 24px;
    
  }
  
  
  .bus-price {
    text-align: left;
    font-weight: bold; 
    font-size: 24px;
  }
  
  
 
  .eco-price::before {
    content: "Economic"; 
    font-size: 12px; 
    margin-bottom: 5px;
    position: relative;
    top:-69px;
    left:-42px;
    font-weight: lighter;
  }
  
  .bus-price::before {
    content: "Business"; 
    font-size: 12px; 
    margin-bottom: 5px; 
    position: relative;
    top:-69px;
    left:-42px;
    font-weight: lighter;
  }
  /* .flight-dep::before{
    content:"Flight Details";
    font-size: 12px; 
    margin-bottom: 5px; 
    position: relative;
    bottom:-69px;
    left:5px;
    font-weight: lighter;
  }
   */
   .flight-details-link {
    color: #333; 
    font-weight: lighter; 
    display: inline-block; 
    padding: 5px 10px; 
    position: relative;
    top:93px;
    right:850px;
   }
   .flight-time,
.flight-price-container p {
  font-family: 'Montserrat', sans-serif; 
}