body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eaecef;
}
h1 {
  font-family: 'Poppins', sans-serif !important;
  font-size: 30px !important;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
  color: #134074;
}
.flights {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.price {
  color: black;
}

.list-group-item {
  display: flex; /* Enables flexbox layout within the list item */
  justify-content: flex-end; /* Aligns the child elements to the far right */
  align-items: center; /* Vertically centers the child elements */
  background-color: #0056b3;
}

.lower-price {
  color: grey; /* Sets the default color of the text in this paragraph to grey */
  font-size: 16px; /* Adjust size as needed */
  margin: 0; /* Remove default margins if necessary */
  margin-left: 0px; /* Adds spacing between "From" and the price */

}

.lower-price .from-text {
  margin-right: 5px; /* Adds spacing between "From" and the price */
}

.lower-price .price {
  color: black; /* Ensures that the price is displayed in black */
  font-weight: bold; /* Optionally make the price bold */
}

.details {
    text-align: center; /* Center-aligns all texts inside the details div */
    padding: 20px;
    background-color: #f7f7f7; /* Light background for the details section */
    border-radius: 8px; /* Rounded corners for a softer look */
    box-shadow: 0 2px 4px rgba(0,0,0,0.15); /* Subtle shadow for depth */
    margin-bottom: 15px; /* Space below the details box */
}

.product-title {
    color: #0056b3; /* Consistent color for better branding and visibility */
    margin-bottom: 5px; /* Reduces gap between the titles */
}

.product-title.route {
    font-weight: 700; /* Emphasizes the flight route */
}

.product-title.time {
    color: #666; /* Subdued color for time details */
    font-weight: 500; /* Less bold than route for visual hierarchy */
}

.detailsinfo {
    font-size: 16px;
    color: #444; /* Darker grey for better readability */
    margin-top: 10px; /* Adds space above the details info */
}

.typetrip {
     /* Slight background to highlight trip type */
    padding: 3px 6px;
    border-radius: 4px; /* Rounded corners for tags */
}

.nofdays {
    font-weight: bold; /* Makes duration stand out */
}

.arrow i {
    color: #ff6347; /* A vibrant color to denote change or movement */
}
