/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: fff;
}

.flight-container {
    width: 80%;
    margin: auto;
}
.hotel-container {
    width: 80%;
    margin-bottom: 10%;
    padding: 10px;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Main Section Styles */
.main-section {
    margin-top: 20px;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 48%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Dropdown Styles */
.dropdown-menu {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.dropdown-menu select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Button Styles */
.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.btn:hover {
    background-color: #555;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}
