*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}

:root{
    --primary-color:#02044A;
    --secondery-color:#273b81;
    --shadow-color:#9d9fb3; 
}

body{
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: 'Montserrat', sans-serif;
   background-color: #fff;
}


.form__container{
    margin-top: 4rem;
    background-color: var(--primary-color);
    border-radius: 2rem;
    padding: 1rem;
    width: 1300px;
    height: 1000px;
}


.title__container{
    width: 100%;
    height: 4.5rem;
    padding: 0.6rem 1.5rem;
    position: relative;
    top:10px;
    padding-bottom: 2rem;
    border-bottom: 1px solid #42434e;
    font-family: 'Montserrat', sans-serif;
}

.title__container h1{
    letter-spacing: 2px;
    color: white;
    font-size: 2rem;
    margin-bottom: 0rem;
    font-family: 'Montserrat', sans-serif;
}

.title__container p{
    color: var(--shadow-color);
    font-size: 0.75rem;
    font-family: 'Montserrat', sans-serif;
}
.body__container{
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.left__container{
    width: 35%;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
    border-right: 1px solid #42434e;
    padding: 1.25rem 0 ;
    margin-right: 2rem;
    padding-right: 1.8rem;
}

.side__titles{
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-right: 0.6rem; */
}

.title__name{
    padding: 0.6rem 0.1rem;
    margin-bottom: 3.25rem;
}

.title__name h3{
    margin-bottom: 0.20rem;
    text-align: right;
    color: #ffffff;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}
.title__name p{
    text-align: right;
    color: var(--shadow-color);
    font-size: 0.75rem;
    font-family: 'Montserrat', sans-serif;
}

.progress__bar__container{
    padding-top:1.9rem ;
    /* height: 100%; */
}
.progress__bar__container ul .active{
    background-color: var(--secondery-color);

}

.progress__bar__container ul li{
    display: flex;
    align-items:center ;
    justify-content: center;
    list-style: none;
    background: var(--shadow-color);
    padding: 0.5rem 0.6rem;
    margin-bottom: 5.2rem;
    border-radius: 50%;
    font-size: 1.4rem;
    color: #ffffff;
    margin-left:3rem ;
}

.progress__bar__container ul li::before{
    content: '';
    width: 1px;
    height: 11vh;
    position: absolute;
    background-color: var(--shadow-color);

}

.progress__bar__container ul .active::before{
    content: '';
    width: 1px;
    height: 11vh;
    position: absolute;
    background-color: var(--secondery-color);
    /* z-index: -1; */
}

.right__container{
    width: 65%;
    display: flex;
    padding: 1.5rem 3.5rem;
}
.right__container fieldset{
    border: none;
}
.sub__title__container{
    padding: 1rem 0 1.2rem 0;
    border-bottom: 1px solid #42434e;
}

.sub__title__container h2{
    letter-spacing: 2px;
    font-size: 2.7rem;
    color: #ffffff;
    margin: 0.4rem 0;
}

.sub__title__container p{
    font-size: 0.75rem;
    color: var(--shadow-color);
}

.active__form{
    display: none;
}

.input__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem;
}

.input__container label{
    color: #ffffff;
    font-size: 0.75rem;
    margin-bottom: 0.4rem;
}
.input__container input{
    
    padding: 0.5rem;
    font-size: 1.4rem;
    border-radius: 0.75rem;
    background: none;
    border: 1px solid var(--secondery-color);    
    margin-bottom: 1.2rem;
    outline: none;
    color: #ffffff;
}

.nxt__btn{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* float: right; */
    /* width: 30%; */
    padding: 0.75rem 0;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 2rem;
    background: var(--secondery-color);
    color: #ffffff;
    position: relative;
    top:30px;
    /* border: none; */
    /* outline: none; */
    /* margin-left: 20em; */
    /* margin-top: 0.55em;     */
}

.nxt__btn:hover{
    transform: scale(1.03);
    background:#1cd68c ;
    cursor: pointer;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* float: right; */
    margin:0;
    padding: 0;
    /* justify-content:space-evenly; */
}

.prev__btn{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* float: right; */
    /* width: 30%; */
    padding: 0.75rem 0;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 2rem;
    background: var(--secondery-color);
    color: #ffffff;
    position: relative;
    top:30px;
}
.prev__btn:hover{
    transform: scale(1.03);
    background:#1cd68c ;
    cursor: pointer;
}

/*------------------------------- form-2 design --------------------*/

.selection{
    display: flex;
    align-items: center;
    border: 1px solid var(--shadow-color);
    padding: 0.5rem 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    width: 100%;
}

.selection:hover{
    border: 1px solid var(--secondery-color);
    background-color: var(--primary-color);
    cursor: pointer;
}

.imoji{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 0.4rem;
    margin:0  0.2rem ;
    margin-right: 0.4rem;
    font-size: 2rem;
    font-weight: 900;
    color: yellow;
    border-radius: 50%;
    background: var(--shadow-color);
}


.descriptionTitle h3{
    color: #ffffff;
    margin-bottom: 4px;
}
.descriptionTitle p{
    font-size: 0.75rem;
    color: var(--shadow-color);
}



@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 5px;
    background-color: #8DA9C2;
}

p {
    margin: 0%;
}



.box-1 {
    max-width: 450px;
    padding: 10px 40px;
    user-select: none;
}

.box-1 div .fs-12 {
    font-size: 8px;
    color: white;
}

.box-1 div .fs-14 {
    font-size: 15px;
    color: white;
}

.box-1 img.pic {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.box-1 img.mobile-pic {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.box-1 .name {
    font-size: 11px;
    font-weight: 600;
}
.box-2 {
    color: white;
}

.box-2 p,
.box-2 input,
.box-2 select {
    color: white;
}


.dis {
    font-size: 12px;
    font-weight: 500;
}

label.box {
    width: 100%;
    font-size: 12px;
    background: #ddd;
    margin-top: 12px;
    padding: 10px 12px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid transparent;
}

#one:checked~label.first,
#two:checked~label.second,
#three:checked~label.third {
    border-color: #134074;
}

#one:checked~label.first .circle,
#two:checked~label.second .circle,
#three:checked~label.third .circle {
    border-color: #8DA9C4;
    background-color: #fff;
}

label.box .course {
    width: 100%;
}

label.box .circle {
    height: 12px;
    width: 12px;
    background: #ccc;
    border-radius: 50%;
    margin-right: 15px;
    border: 4px solid transparent;
    display: inline-block;
}

input[type="radio"] {
    display: none;
}

.box-2 {
    max-width: 450px;
    padding: 10px 40px;
}


.box-2 .box-inner-2 input.form-control {
    font-size: 12px;
    font-weight: 600;
}

.box-2 .box-inner-2 .inputWithIcon {
    position: relative;
}

.box-2 .box-inner-2 .inputWithIcon span {
    position: absolute;
    left: 15px;
    top: 8px;
}

.box-2 .box-inner-2 .inputWithcheck {
    position: relative;
}

.box-2 .box-inner-2 .inputWithcheck span {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 15px;
    top: 6px;
}

.form-control:focus,
.form-select:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid #8DA9C4;
}

.border:focus-within {
    border: 1px solid #8DA9C4 !important;
}

.box-2 .card-atm .form-control {
    border: none;
    box-shadow: none;
}

.form-select {
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.address .form-control.zip {
    border-radius: 0;
    border-bottom-left-radius: 10px;

}

.address .form-control.state {
    border-radius: 0;
    border-bottom-right-radius: 10px;

}

.box-2 .box-inner-2 .btn.btn-outline-primary {
    width: 120px;
    padding: 10px;
    font-size: 11px;
    padding: 0% !important;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 0;
    background-color: whitesmoke;
    color: black;
    font-weight: 600;
}

.box-2 .box-inner-2 .btn.btn-primary {
    background-color: #8DA9C4;
    color: whitesmoke;
    font-size: 14px;
    display: flex;
    align-items: center;
    font-weight: 600;
    justify-content: center;
    border: none;
    padding: 10px;
}

.box-2 .box-inner-2 .btn.btn-primary:hover {
    background-color: #134074;
}

.box-2 .box-inner-2 .btn.btn-primary .fas {
    font-size: 13px !important;
    color: whitesmoke;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.carousel-inner {
    width: 100%;
    height: 250px;
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
}

.carousel-control-prev {
    transform: translateX(-50%);
    opacity: 1;
}

.carousel-control-prev:hover .fas.fa-arrow-left {
    transform: translateX(-5px);
}

.carousel-control-next {
    transform: translateX(50%);
    opacity: 1;
}

.carousel-control-next:hover .fas.fa-arrow-right {
    transform: translateX(5px);
}

.fas.fa-arrow-left,
.fas.fa-arrow-right {
    font-size: 0.8rem;
    transition: all .2s ease;
}

.icon {
    width: 30px;
    height: 30px;
    background-color: #f8f9fa;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform-origin: center;
    opacity: 1;
}

.fas,
.fab {
    color: #6d6c6d;
}

::placeholder {
    font-size: 12px;
}

@media (max-width:768px) {
    .container {
        max-width: 700px;
        margin: 10px auto;
    }

    .box-1,
    .box-2 {
        max-width: 600px;
        padding: 20px 90px;
        margin: 20px auto;
    }

}

@media (max-width:426px) {

    .box-1,
    .box-2 {
        max-width: 400px;
        padding: 20px 10px;
    }

    ::placeholder {
        font-size: 9px;
    }
}
 

@media only screen and (max-width: 600px) {
    body{
        background-color: var(--primary-color);
    }
    .form__container{
        margin: 0;
        padding: 0;
    }

    .body__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

   
    .title__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
       
    }

    

    .buttons{
        justify-content: space-between;
    }
    
    .descriptionTitle h3{
        font-size: 1rem;
    }
    .descriptionTitle p{
        font-size: 0.6rem;

    }
    
    
    .side__titles{
        display: none;
        flex-direction: row;
        /* align-items: center;  */
        justify-content: space-evenly;
    }
    .title__name h3{
        font-size: 0.75rem;

    }
    .title__name p{
        font-size: 0.5rem;

    }

    .progress__bar__container{
        margin-bottom: 0;

    }
    .progress__bar__container ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        /* width: 50%; */
        padding: 0 2rem;
        
    }

    .progress__bar__container ul::before{
        height: 5vh;
    }
    .progress__bar__container ul li{
        margin: 10px;
        padding: 10px ;
        /* transform: rotate(90deg); */
    }
    .progress__bar__container ul .active::before{
        transform: rotate(90deg);
    }
    
}